.header {
    background-image: url("../img/2.jpg");
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    justify-content: space-between;
}

.header_logo img {
    height: 140px;
    width: 200px;
    border-radius: 20px;
}

.header_user_account img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-bottom: -20px;
    margin-top: 10px;
}

.header_user_account a {
    text-decoration: none;

}

.header_user_account p {

    font-size: 20px;
}


.left_colum {
    background-image: url("../img/2.jpg");
    flex: 0 0 200px;
    height: 81vh;
}

.center_colum {
    flex: 1 1 auto;
    max-height: 81vh;
    overflow: auto;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.container_left_center {
    display: flex;

}

.center_colum form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;


}

.center_colum form div {
    height: 70px;
    width: 190px;
    background: rgba(188, 201, 194, 0.4);
    border: 2px solid black;

}

.center_colum form div:hover {
    border: #e22b2b solid 2px;

}

.button_form_submit {
    text-decoration: none;
    text-align: center;
    padding: 9px 12px;
    border-radius: 15px;
    font: 28px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1c511c;
    background:#21eb3b70;
    box-shadow: inset 0px 5px 15px #9d634f;
}



