header {
    background-image: url("../img/heder_back.jpg");
    background-size: cover;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    justify-content: space-between;

}

.errors h3 {
    color: #be4f4f;

}

.info_container{
    margin-bottom: 25px;
}

.header_logo img {
    height: 140px;
    width: 200px;
    border-radius: 20px;
    margin-right: 25px;
}

.header_find_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.form_input input {
    height: 42px;
    padding-left: 10px;
    border: 2px solid #0e0e0e;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);

}



.find_button button {
    height: 48px;
    width: 70px;
    border-left: None;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #c58787;
}

.find_button button:hover {
    background-color: #81f178;
    box-shadow: 0 0 10px #9ecaed;

}

.header_user_account img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-bottom: -20px;
    margin-top: 10px;
}

.header_user_account a {
    text-decoration: none;

}

.header_user_account p {

    font-size: 20px;
}


.table {
    overflow: auto;
    max-height: 83vh;
}

.table th {
    position: sticky;
    top: 0;

}

.table_inv {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #b07f7f;
}

.table_inv th {

    font-weight: bold;
    padding: 5px;
    background: #6287a1;
    border: 1px solid #dddddd;
}

.table_inv td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}

.table_div tbody td:hover {
    background-color: #e22b2b;
}

.article_table {
    width: 10%;
}

.article_table a {
    text-decoration: none;
    color: black;
}

.article_table a:hover {
    background-color: rgba(83, 243, 62, 0.68);
    text-decoration: underline
}

.title_table {
    width: 40%;
}

.title_table a {
    text-decoration: none;
    color: black;
}

.title_table a:hover {
    background-color: rgba(252, 230, 7, 0.68);

}

.red {
    background-color: rgba(255, 0, 0, 0.44);
}


.green {
    background-color: rgba(0, 128, 0, 0.57);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.56);
}

.all_check_position form button {
    height: 26px;
    width: 220px;
    border-radius: 5px;
    border: 2px solid black;
}

.all_check_position form button:hover {
    border: 1px solid #e22b2b;
}