
.header {
    background-image: url("../img/2.jpg");
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    justify-content: space-between;


}

.header_logo img {
    height: 140px;
    width: 200px;
    border-radius: 20px;

}

.header_button_reset_filter_wrapper {

    display: block;
    text-align: center;
    text-decoration: none;


}


.header_button_reset_filter_wrapper a {
    text-decoration: none;
    color: #2D2020;


}

.header_button_filter {
    text-decoration: none;
    text-align: center;
    padding: 9px 12px;
    border-radius: 15px;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1c511c;
    background: #21eb3b70;
    box-shadow: inset 0px 5px 15px #9d634f;
    margin-bottom: 10px;


}


.header_button_reset input {
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 9px 12px;
    border-radius: 15px;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1c511c;
    background: rgba(212, 235, 33, 0.92);
    box-shadow: inset 0px 5px 15px #9d634f;


}


.header_list_sort {

    height: 140px;
    width: 200px;
}

.header_user_account {
    border-radius: 10px;
}

.left_colum {
    background-image: url("../img/2.jpg");
    flex: 0 0 200px;
    height: 85vh;

}

.center_colum {
    flex: 1 1 auto;
    max-height: 85vh;
    overflow: auto;
    border-left: 2px solid black;
    border-top: 2px solid black;

}

.container_left_center {
    display: flex;
}

.header_list_sort {
    max-height: 16vh;
    overflow-x: hidden;

}

.left_colum h2 {
    text-align: center;


}

.left_colum ul li a {
    text-decoration: none;
    color: black;
}

.left_colum ul li {
    margin-bottom: 15px;
    font-size: 20px;
    list-style: none;
    text-align:left;
}

.left_colum ul a:hover {
    color: #e22b2b;
    transition: color 0.5s ease;
    text-decoration: underline
}

* {
    box-sizing: border-box;

}

.form_input {
    position: relative;
    width: 400px;
    margin: 0 auto;

}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 3px solid #0e0e0e;
    border-radius: 5px;
    outline: none;
    background: #fcfcfc;

}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;

}


th {
    background: #878cc5;
    color: #0e0e0e;
    padding: 10px 20px;
}

th, td {
    border: 1px solid black;
}

th:first-child, td:first-child {
    text-align: left;
}


th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: rgba(188, 201, 194, 0.4);
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    color: rgba(226, 43, 43, 0.84);
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}