.header {
    background-image: url("../img/2.jpg");
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    justify-content: space-between;


}

.header_logo img {
    height: 140px;
    width: 200px;
    border-radius: 20px;

}

.header_button_reset_filter_wrapper {
    display: inline;
    text-align: center;
    text-decoration: none;

}


.header_button_reset_filter_wrapper a {
    text-decoration: none;
    color: #2D2020;


}

.header_button_filter {
    background: #fff350;
    border: #2D2020 solid 2px;
    width: 100px;
    margin-bottom: 10px;

}

.header_button_filter:hover {
    border: #3eef2b solid 3px;
}

.header_button_reset {
    background: #ff5057e6;
    border: #2D2020 solid 2px;
    width: 100px;
}

.header_button_reset:hover {
    border: #3eef2b solid 3px;
}

.header_list_sort {

    height: 140px;
    width: 200px;
}

.header_user_account {
    border-radius: 10px;
}

.left_colum {
    background-image: url("../img/2.jpg");
    flex: 0 0 200px;
    height: 81vh;

}

.center_colum {
    flex: 1 1 auto;
    max-height: 81vh;
    overflow: auto;
    border-left: 2px solid black ;
    border-top: 2px solid black;

}

.container_left_center {
    display: flex;
}


* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 400px;
    margin: 0 auto;

}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 3px solid #0e0e0e;
    border-radius: 5px;
    outline: none;
    background: #fcfcfc;
    color: #9E9C9C;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #565656;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

th {
    background: #c58787;
    color: #223033;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {

    border: 1px solid black;
}

th:first-child, td:first-child {
    text-align: left;
}



th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    background: rgba(32, 48, 211, 0.55);
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}