{% extends 'base.html' %}
<title>{{ title }}</title>
{% block detail %}


    <div class="details_div">
        Детализация
        {% for d in det %}
            <ul style="text-align: center">
                <li>
                    {{ d.title }} <br>
                    {{ d.article }} <br>
                    {{ d.count }} <br>
                    {{ d.project }} <br>
                    {{ d.quantity }} <br>
                </li>
            </ul>
        {% endfor %}
     <h2>Общая сумма {{ sum }}</h2><br>
    </div>
{% endblock %}