<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/inventory_detail_style.css' %}">
    <title>Детализация</title>
</head>
<body>

<div class="main_wrapper">
    <header>
        <div class="header_logo">
            <a href="{% url 'find' %}"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
        </div>
        <div>
            <a href="{% url 'inventory' %}"><h2> Продолжить поиск ➡️</h2></a>
        </div>


        <div class="form_set_quantity">
            <lable>Введите подсчитанное количество.</lable>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="количество найдено" name="quantity_set" required="required">
                <input type="text" placeholder="адрес" name="address">
                <input type="text" placeholder="Коментарий" name="comment">
                <button class="find_button">отправить</button>
            </form>
        </div>

        <div>
            <h3>Выберите статус позийии</h3>
            <a href="{% url 'set_status'  'Сошлось' product.article %}">Сошлось</a>
            <a href="{% url 'set_status'  'Излишки' product.article %}">Перепроверить</a>
            <a href="{% url 'set_status'  'В работе' product.article %}">В работе</a>
        </div>


    </header>
    <div class="table">
        <table class="table_inv">
            <tr>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Единица</th>
                <th>Остаток по инвентаризации</th>
                {% if remains_sum < 0 %}
                    <td style="background-color: #e22b2b">Изилек!!!!</td>
                {% else %}
                    <th>Осталось посчитать</th>
                {% endif %}
                <th>Остаток на сегодня</th>
                <th>Движение товара</th>
                <th>Статус</th>

            </tr>
            <tr>
                <td>{{ product.article }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.base_unit }}</td>
                <td>{{ unic_sum_posit }}</td>
                <td>{{ remains_sum }}</td>
                <td>{{ sum_remains_now }} </td>
                <td>{{ move_product }}</td>
                <td>{{ get_status }}</td>

            </tr>
        </table>


        <div class="table">
            <table class="table_inv">
                <tr>
                    <th>Пользователь</th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Единица</th>
                    <th>Найдено</th>
                    <th>Дата время</th>
                    <th>Адрес</th>
                    <th>Коментарий</th>
                    <th>Редактировать</th>
                </tr>
                {% for d in user_set_invent %}

                    <tr>
                        <td>{{ d.user }}</td>
                        <td>{{ d.product.article }}</td>
                        <td>{{ d.product.title }}</td>
                        <td>{{ d.product.base_unit }}</td>
                        <td>{{ d.quantity_ord }}</td>
                        <td>{{ d.created_at }}</td>
                        <td>{{ d.address }}</td>
                        <td>{{ d.comment }}</td>
                        <td><a href="{% url 'delete' d.id %}">Удалить</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


</body>
</html>