<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Главная </title>
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
</head>
<body>

<header class="header">
    <div class="header_logo">
        <a href="{% url 'find' %}"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
    </div>
</header>
<div class="main_wrapper">
    <h2>Краткая инструкция</h2>
    <div class="find_comment">
        <p>Для поиска по комментарию используйте в начале символ - <br>
            Доступен ввод не более 4 слов  или цифр которые могут встретится в  комментарии
        </p>
    <img src="{% static '/img/manual/find_comment.jpg' %}" alt="">
    </div>

</div>
</body>
</html>