<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="wrapper">
    <header>
        <nav class="header_nav">
            <div>
                <img src="" alt="Картинка!!!">
            </div>
            {% for m in menu %}
                <div><a href="{% url m.url_name %}">{{ m.title }}</a></div>
            {% endfor %}
        </nav>
    </header>


</div>






{% block choice %}
{% endblock %}

{% block detail %}
{% endblock %}

{% block update_page %}
{% endblock %}



{% block search %}

{% endblock %}


</body>
</html>