<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header_logo">
            <img src="{% static 'img/logo.jpg' %}" alt="">
        </div>
        <div class="header_find">
            <form class="form_input" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

            </form>
        </div>
        <div class="header_button_reset_filter_wrapper">
            <div class="header_button_filter">
                <a href="{% url 'choice' %}">Выбрать проект</a>
            </div>
            <div class="header_button_reset">
                <form action="{% url 'clear' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Очистить">

                </form>
            </div>
        </div>
        <div class="header_list_sort">
            <ul>
                Сотрировка по :
                <hr>
                {% for p in project %}
                   <li>{{ p }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="header_user_account">
            <h3>Добро пожаловать!</h3>
            <p>User</p>
        </div>
    </header>
    <div class="container_left_center">
        <div class="left_colum">
            <h2>Меню</h2>
            <hr>
            {% for m in menu %}
                <ul>
                    <li> <a href="{% url m.url_name %}">{{ m.title }}</a></li>
                </ul>
            {% endfor %}




        </div>
        <div class="center_colum">
            <div class="table_div">
                <table>
                    <tr>
                        <th style="width: 20px ">Коментарий</th>
                        <th>Код</th>
                        <th>Артикул</th>
                        <th>Партия</th>
                        <th>Номенклатура</th>
                        <th>Единица</th>
                        <th>Проект</th>
                        <th>Количество</th>
                    </tr>
                    {% for r in remains %}
                        <tr>
                            <td>{{ r.comment }}</td>
                            <td>{{ r.code }}</td>
                            <td>{{ r.article }}</td>
                            <td>{{ r.party }}</td>
                            <td><a href="{% url 'details' r.id %}">{{ r.title }}</a></td>
                            <td>{{ r.base_unit }}</td>
                            <td>{{ r.project }}</td>
                            <td>{{ r.quantity }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>